body {
	margin: 0px;
	font-family: arial;
	background-image: url(../Images/BG.jpg);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-position: center top;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#logo {
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
}

h2 {
	margin-left: 20px;
	user-select: none;
}

#type {
	margin-left: 20px;
	margin-bottom: 10px;
}

#picture {
	margin: 10px 20px;
	width: 400px;
	height: 400px;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 15px;
	opacity: 0;
}

#imageDescription {
	margin-left: 20px;
	opacity: 0;
}

#quoteBox {
	position: fixed;
	top: 206px;
	left: 440px;
	width: 600px;
	height: 150px;
    border-radius: 15px;
	opacity: 0;
}

#q {
	font-family: arial;
	color: white;
	font-size: 14px;
	margin-left: 10px;
}

#a {
	font-family: arial black;
	font-size: 18px;
	color: white;
	margin-left: 15px;
}